CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
*.so
*.a
*.lib
*.dll
*.exp
*.exe
*.pyd
*.pdb
*.ilk
__pycache__
example1
example1_sparse
example_CQPsolver
example_condensing
TEST_*
sqpits.csv
updatesequence.txt
.vscode
.VSCodeCounter
.vs

build/
install/

