CMakeFiles
Makefile
cmake_install.cmake
CMakeCache.txt
*.so
*.a
*.lib
*.dll
*.exp
*.pyd
*.exe
*.pdb
*.ilk
CMakeLists_TEMPLATE.txt
__pycache__
example1
TEST_*
sqpits.csv
updatesequence.txt
.vscode
.VSCodeCounter
.vs

build/
install/
